<p id="notice"><%= notice %></p>

<h1>Lists by Grade Number <%= @grade_number %></h1>

<div class="pull-right">
  <%= select_tag :grade_number, options_for_select([1, 2, 3, 4, 5], params[:grade_number]), onchange: 'change()', style: 'width: -webkit-fill-available; border: 5px ridge chocolate;' %>
</div>

<table class='table'>
  <thead>
    <tr>
      <th>List number</th>
      <th>Contents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <th><%= list.number %></th>
        <% if list.contents %>
          <td><%= link_to list.contents, words_by_list_path(list_id: list.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
