<h1><%= @list.contents %></h1>
<br />
<br />
<div class="row">
  <div class='col-md-5 col-md-offset-1'>
    <div id="correctGuesses" class='card border-success'>
      <div class='card-header bg-success'>
        <h4>Correct Guesses</h4>
      </div>
      <div class="card-body text-success" style="font-size: 45px;">

      </div>
    </div>
  </div>
  <br />
  <div class='col-md-5 col-md-offset-1'>
    <div id="incorrectGuesses" class='card border-danger'>
      <div class='card-header bg-danger'>
        <h4>Incorrect Guesses</h4>
      </div>
      <div class="card-body text-danger" style="font-size: 45px;">

      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-10 col-md-offset-1'>
    <h2>You have <span class='guesses-left'>6</span> guesses left.</h2>
    <div id="guesses"></div>
    <p id='answer'></p>
    <button name="button" onclick="showAnswer()">Show Answer</button>
    <div id="blanks" style="font-size: 45px; color: black;"></div>
    <%= link_to 'Return to Main Page', :root %>
  </div>
</div>
<div class="letters">
  <span id='a' class='letter'>A</span>
  <span id='b' class='letter'>B</span>
  <span id='c' class='letter'>C</span>
  <span id='d' class='letter'>D</span>
  <span id='e' class='letter'>E</span>
  <span id='f' class='letter'>F</span>
  <span id='g' class='letter'>G</span>
  <span id='h' class='letter'>H</span>
  <span id='i' class='letter'>I</span>
  <span id='j' class='letter'>J</span>
  <span id='k' class='letter'>K</span>
  <span id='l' class='letter'>L</span>
  <span id='m' class='letter'>M</span>
  <span id='n' class='letter'>N</span>
  <span id='o' class='letter'>O</span>
  <span id='p' class='letter'>P</span>
  <span id='q' class='letter'>Q</span>
  <span id='r' class='letter'>R</span>
  <span id='s' class='letter'>S</span>
  <span id='t' class='letter'>T</span>
  <span id='u' class='letter'>U</span>
  <span id='v' class='letter'>V</span>
  <span id='w' class='letter'>W</span>
  <span id='x' class='letter'>X</span>
  <span id='y' class='letter'>Y</span>
  <span id='z' class='letter'>Z</span>
</div>
<audio id='right' src="<%= asset_path('correct-guess.mp3') %>" style='display: none;'>
  <p>Please update your browser.</p>
</audio>
<audio id='wrong' src="<%= asset_path('wrong-guess.mp3') %>" style='display: none;'>
  <p>Please update your browser.</p>
</audio>
<audio id='win' src="<%= asset_path('win.mp3') %>" style='display: none;'>
  <p>Please update your browser.</p>
</audio>
<audio id='fail' src="<%= asset_path('fail.mp3') %>" style='display: none;'>
  <p>Please update your browser.</p>
</audio>
<audio id='snap' src="<%= asset_path('click.mp3') %>" style='display: none;'>
  <p>Please update your browser.</p>
</audio>
<script>
var guessesLeft = 10;
// Ask them for the difficulty
var difficulty = prompt('Which difficulty? (B for Beginner, E for Easy, M for Medium, H for Hard, and D for Difficult.)')
if (difficulty === 'B' || difficulty === 'Beginner' || difficulty === 'beginner') {
  guessesLeft = 1/0;
} else if (difficulty === 'M' || difficulty === 'Medium' || difficulty === 'medium') {
  guessesLeft = 5;
} else if (difficulty === 'H' || difficulty === 'Hard' || difficulty === 'hard') {
  guessesLeft = 3;
} else if (difficulty === 'I' || difficulty === 'Impossible' || difficulty === 'impossible') {
  guessesLeft = 2;
}
// Functions
function drawGuesses(guesses) {
  $('#guesses').html('');
  $('#correctGuesses .card-body, #incorrectGuesses .card-body').html('');
  correctGuesses, incorrectGuesses = [];
  for (var i = 0; i < guesses.length; i++) {
    if (word.includes(guesses[i])) {
      $('#correctGuesses .card-body').append(guesses[i] + ' ')
      correctGuesses.push(guesses[i]);
    } else {
      $('#incorrectGuesses .card-body').append(guesses[i] + ' ')
      incorrectGuesses.push(guesses[i]);
    } if (incorrectGuesses.length >= guessesLeft) {
      alert('Retry, you have used all your guesses');
      document.getElementById('fail').play();
      $('.letters, button[onclick="showAnswer()"]').remove();
      $('#blanks').text(word);
    }
  }
  $('.guesses-left').text(guessesLeft - incorrectGuesses.length);
  var lastWord = guesses[guesses.length - 1];
  if (word.includes(lastWord)) {
    document.getElementById('right').play();
  } else {
    document.getElementById('wrong').play();
  }
}
function chooseWord() {
  return words[Math.floor(Math.random() * words.length)];
}
function updateGuesses() {
  if ($('#input').val().length > 1 || $('#input').val() === '') {
    alert('Please enter at least 1 letter.')
    $('#input').val('');
  } else {
    guesses.push($('#input').val());
    drawGuesses(guesses);
    drawBlanks(word, guesses);
  }
}
function drawBlanks(word, guesses) {
  var countCorrect = 0;
  $('#blanks').text('');
  for (var i = 0; i < word.length; i++) {
    if (guesses.includes(word[i])) {
      $('#blanks').append(word[i]);
      countCorrect += 1;
    } else {
      $('#blanks').append('_ ');
    }
  }
  if (countCorrect === word.length) {
    document.getElementById('win').play();
    $('#input, #button, button[onclick]').remove();
    $('body').append('<a href>Reset</a>');
  }
}
function showAnswer() {
  $('#input, #button, button[onclick]').remove();
  $('#blanks').text('The correct answer is: ' + word);
  $('body').append('<a href class="btn">Retry!</a>');
}
$('.letter').click(function() {
  guesses.push($(this).text().toLowerCase());
  drawGuesses(guesses);
  drawBlanks(word, guesses);
  document.getElementById('snap').play();
});
// Make arrays and call functions
var guesses = [];
var correctGuesses = [];
var incorrectGuesses = [];
var wordsString = '<%= @list.words.map(&:text).join(',')%>'
var words = wordsString.split(',');
var word = chooseWord().toLowerCase();
drawBlanks(word, guesses);
</script>
