<!DOCTYPE html>
<html>
<head>
  <title>Spelling</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class='container'>
    <div class="jumbotron">
      <h3>Spelling App</h3>
    </div>
    <% if !notice == nil %>
    <p id='notice' class='alert alert-info'><%= notice %></p>
    <% end %>
    <%= yield %>
    <footer>Created by Bug-Zero</footer>
  </div>
</body>
</html>
